@import './../../node_modules/antd/dist/antd.css';

html, body, #root, .App {
  height: 100%
}

#root {
  min-height: 100vh;
}

.app {
  min-height: calc(100vh - 64px)
}

.logo {
  width: 120px;
  height: 31px;
  background: #001529;
  margin: 16px 28px 16px 0;
  float: left;
}